
.favorite-container{
    min-height: 90vh;
}
.favorite-products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: red 1px solid;
}
