.header-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
}


.cart-container{
    padding: 0px;
    margin: 0px;
}

.cart-icon{
    font-size: 2em;
}
.cart-container p{
   position: relative;
   top: 15px;
   left: 8px;
   background-color: red;
   color: white;
   text-align: center;
   border-radius: 50%;
   height: 18px;
   width: 18px;

}