.footer-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
    background-color: var(--appBlue);  
}

.footer-container p {
    background-color: var(--appBlue);
    color: white;
}

.contact-css{
    background-color: var(--Appblue);
    color: white;
}
