:root{
  --appBlue: #3a4895;
  --backCol:  #fafafa;
  --bordcol: #efefef;
  --inputcol: #b4b4b4;
  --gray: #979797;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: var(--appBlue);
  background-color: var(--backCol);
  
}

a{
  text-decoration: none;
}


